@use './colors' as *;
@use './animations' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	color: $white;
	background-color: $dark;
}

@import './small';
@import './medium';
@import './large';
